$sm: 'all and (min-width:' $sm-wd ')';
$md: 'all and (min-width:' $md-wd ')';
$lg: 'all and (min-width:' $lg-wd ')';
$xl: 'all and (min-width:' $xl-wd ')';
$xxl: 'all and (min-width:' $xxl-wd ')';

$sm-reverse: 'all and (max-width:' $sm-wd - 1 ')';
$md-reverse: 'all and (max-width:' $md-wd - 1 ')';
$lg-reverse: 'all and (max-width:' $lg-wd - 1 ')';
$xl-reverse: 'all and (max-width:' $xl-wd - 1 ')';
$xxl-reverse: 'all and (max-width:' $xxl-wd - 1 ')';

$sizes-list: "sm" $sm,
"md" $md,
"lg" $lg,
"xl" $xl,
"xxl" $xxl;

