// CLASS COLOR
@each $value in $color-list {
  .#{nth($value, 1)} {
    color: nth($value, 2);
  }

  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }

  .bg-lg-#{nth($value, 1)} {
    background-color: transparent;
    @media #{$lg} {
      background-color: nth($value, 2);
    }
  }

  @for $i from 0 through 100 {
    .bg-#{nth($value, 1)}-#{$i} {
      @if $i % 5 == 0 {
        background-color: rgba(nth($value, 2), $i / 100);
      }
    }
  }

  .border-#{nth($value, 1)} {
    border-color: nth($value, 2);
  }

  .shadow-#{nth($value, 1)} {
    box-shadow: 0 0.313rem 1rem 0 rgba(nth($value, 2), .15);
  }

  .shadow-lg-#{nth($value, 1)} {
    box-shadow: none;
    @media #{$lg} {
      box-shadow: 0 0.313rem 1rem 0 rgba(nth($value, 2), .15);
    }
  }
}

.shadow-none {
  box-shadow: 0 0 0 0 rgba($black, 0);
}