.container {
  width: var(--container-width);
  margin: auto;

  .row {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    width: 100%;
    @media #{$md} {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .col {
      flex: 1 0 0%;

      &.va-center {
        align-self: center;
      }
    }
  }

  .row-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-gap: var(--gap);
    @media #{$sm} {
      grid-template-columns: repeat(2, 1fr);
    }
    @media #{$md} {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

