*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

html {
  @media (hover: none) {
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-track {
      background: #fff;
    }

    ::-webkit-scrollbar-thumb {
      width: 6px;
      height: 6px;
      border: solid 2px #fff;
      border-radius: 6px;
      background: $yellow;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: $yellow;
    }
  }
}

body {
  //overflow-x: hidden;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

img {
  max-width: 100%;
}

a {
  color: unset;
}