:root {
  @each $value in $color-list {
    --#{nth($value, 1)}: #{nth($value, 2)};
  }
  @each $value in $sp-list {
    --#{nth($value, 1)}: #{nth($value, 2)};
  }

  --container-width: calc(100% - #{$sp-sm} * 2); // lateral marging = 15px
  --gap: #{$sp-sm};

  @media #{$sm} {
    --container-width: calc(100% - #{$sp-sm} * 2); // lateral marging = 15px
  }
  @media #{$md} {
    --container-width: calc(100% - #{$sp-md} * 2); // lateral marging = 20px
  }
  @media #{$lg} {
    --container-width: calc(#{$lg-wd} - #{$sp-md} * 2); // lateral marging = 20px
  }
  @media #{$xl} {
    --container-width: calc(#{$xl-wd} - #{$sp-md} * 2); // lateral marging = 20px
  }
  @media #{$xxl} {
    --container-width: calc(#{$xxl-wd} - #{$sp-xl} * 2); // lateral marging = 20px
  }
}

html {
  font-family: 'Jost', sans-serif;
  font-size: clamp(14px, 16px, 0.833vw);
}

body {
  margin: 0;

  *:focus {
    border-radius: .05rem;
    outline: 2px solid $darkgray;
    @extend .shadow-darkgray;
    @extend .transition-1-medium;
    transition-property: box-shadow;
  }
}