@each $value in $sp-list {
  .mt-#{nth($value, 1)} {
    margin-top: #{nth($value, 2)};
  }
  .mb-#{nth($value, 1)} {
    margin-bottom: #{nth($value, 2)};
  }
  .ml-#{nth($value, 1)} {
    margin-left: #{nth($value, 2)};
  }
  .mr-#{nth($value, 1)} {
    margin-right: #{nth($value, 2)};
  }

  .m-y-#{nth($value, 1)} {
    margin-top: #{nth($value, 2)};
    margin-bottom: #{nth($value, 2)};
  }
  .m-x-#{nth($value, 1)} {
    margin-left: #{nth($value, 2)};
    margin-right: #{nth($value, 2)};
  }

  .pt-#{nth($value, 1)} {
    padding-top: #{nth($value, 2)};
  }
  .pb-#{nth($value, 1)} {
    padding-bottom: #{nth($value, 2)};
  }
  .pl-#{nth($value, 1)} {
    padding-left: #{nth($value, 2)};
  }
  .pr-#{nth($value, 1)} {
    padding-right: #{nth($value, 2)};
  }

  .p-y-#{nth($value, 1)} {
    padding-top: #{nth($value, 2)};
    padding-bottom: #{nth($value, 2)};
  }
  .p-x-#{nth($value, 1)} {
    padding-left: #{nth($value, 2)};
    padding-right: #{nth($value, 2)};
  }
}