$delay: "0" 0s,
"1" .1s,
"2" .2s,
"3" .3s,
"4" .4s,
"5" .5s,
"6" .6s,
"7" .7s,
"8" .8s,
"9" .9s,
"10" 1s;


@each $value in $speed-list {
  .transition-1-#{nth($value, 1)} {
    transition-duration: #{nth($value, 2)};
    transition-timing-function: $bc-transition-1;
  }
}

@each $value in $speed-list {
  .transition-2-#{nth($value, 1)} {
    transition-duration: #{nth($value, 2)};
    transition-timing-function: $bc-transition-2;
  }
}

@each $value in $delay {
  .delay-#{nth($value, 1)} {
    transition-delay: #{nth($value, 2)};
  }
}