strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
}

.fz-xxl {
  font-size: 2.5rem;
  line-height: 1.25;
  //line-height: 3.625rem;
  @media #{$lg} {
    font-size: 4.375rem; // 70px
  }
}

.fz-xl {
  font-size: 3.125rem; // 50px
  line-height: 1.28;
  //line-height: 2.875rem;
}

.fz-lg {
  font-size: 2.5rem; // 40px
  line-height: 1.4;
  //line-height: 1.75rem;
}

.fz-medium {
  font-size: 1.5rem; //24px
  line-height: 1.55;
  //line-height: 1.75rem;
}

.fz-x-normal {
  font-size: 1.125rem; //18px
  line-height: 1.55;
  //line-height: 1.75rem;
}

.fz-normal {
  font-size: 1rem; // 16px
  line-height: 1.5;
  //line-height: 1.5rem;
}

.fz-sm {
  font-size: 0.875rem; // 14px
  line-height: 1.43;
  //line-height: 1.25rem;
}

.fz-xs {
  font-size: 0.75rem; // 12px
  line-height: 1.333;
  //line-height: 1rem;
}

.fw-regular {
  font-weight: normal;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: bold;
}

.fw-black {
  font-weight: 900;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

@each $val in $sizes-list {
  @media #{nth($val, 2)} {
    .ta-center-#{nth($val, 1)} {
      text-align: center;
    }
  }
}

.ta-right {
  text-align: right;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.underline {
  text-decoration: underline;
  text-underline-offset: .1rem
}

// H1
.page-title {
  @extend .fz-xxl;
  @extend .fw-bold;
  letter-spacing: 0.175rem;
}

//H2
.title {
  @extend .fz-xl;
  @extend .fw-bold;

}

//H3
.card-title {
  @extend .fz-medium;
  @extend .fw-bold;
}

//Chapo
.chapo {
  @extend .fz-x-normal;
  @extend .fw-medium;
  @extend .upper;
  letter-spacing: 0.056rem;
}

//P
.section-text {
  @extend .fz-x-normal;
}

//P
.text {
  @extend .fz-normal;
}