// BREAKPOINTS
$container-width: 89.583vw; // 1290 / [1440px]
$sm-wd: 540px;
$md-wd: 769px;
$lg-wd: 1064px;
$xl-wd: 1290px;
$xxl-wd: 1680px;

// COLORS
$yellow: #FFE401;
$green: #00A335;
$blue: #006CFF;
$red: #FF3A3C;
$white: #ffffff;
$black: #000;
$darkgray: #4A4A4A;
$grey-1: #FCFCFC;
$grey-2: #F8F8F8;
$grey-3: #EFEFEF;
$grey-4: #E8E8E8;

$color-list:
'yellow' $yellow,
'green' $green,
'blue' $blue,
'red' $red,
'white' $white,
'black' $black,
'darkgray' $darkgray,
'grey-1' $grey-1,
'grey-2' $grey-2,
'grey-3' $grey-3,
'grey-4' $grey-4;

// SPACING
$sp-xl: 5rem; // 80px
$sp-xlg: 2.5rem; // 40px
$sp-lg: 1.875rem; // 30px
$sp-xmd: 1.563rem; // 25px
$sp-md: 1.25rem; // 20px
$sp-sm: 0.938rem; // 15px
$sp-xs: 0.625rem; // 10px

$sp-list: "xl" $sp-xl,
"xlg" $sp-xlg,
"lg" $sp-lg,
"xmd" $sp-xmd,
"md" $sp-md,
"sm" $sp-sm,
"xs" $sp-xs;

// Transitions
$bc-transition-1: cubic-bezier(0.87, 0, 0.13, 1);
$bc-transition-2: cubic-bezier(0.65, 0, 0.35, 1);

$speed-fast: .3s;
$speed-medium: .5s;
$speed-slow: .7s;
$speed-slower: 1s;

$speed-list: "fast" $speed-fast,
"medium" $speed-medium,
"slow" $speed-slow,
"slower" $speed-slower;