.bloc-reassurance {
  &--content {
    @media #{$lg} {
      margin: 0 $sp-lg;
    }
  }

  &--icon {
    opacity: 1;
    transform: translate(0);
    @extend .transition-1-slow;

    &.scrollreveal {
      opacity: 0;
      transform: translate(0, -10px);
    }
  }
}