.bloc-offre {
  padding: $sp-lg 0;
  @media #{$lg} {
    padding: $sp-xl 0;
  }

  &--img {
    order: 2;
    @media #{$md} {
      order: unset;
    }
  }

  &--content {
    order: 1;
    text-align: center;

    .cta {
      display: inline-block;
    }

    @media #{$md} {
      order: unset;
      padding: 0 $sp-xl;
      text-align: left;
    }
  }
}