.main-menu {
  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  .row {
    align-items: center;
    flex-direction: row;
    height: 6.25rem;

    .logo {
      flex: 1;
      @media #{$lg} {
        flex: .25;
      }
    }

    nav {
      display: none;
      @media #{$lg} {
        display: block;
      }

      ul {
        display: flex;
        align-items: center;
        gap: var(--gap);
        height: 100%;

        li {
          height: 100%;

          a {
            height: 100%;
            text-decoration: none;
          }

          &.disabled {
            pointer-events: none;
            opacity: .5;
          }
        }
      }

      &.main-nav {
        flex: 1;
      }

      &.seconday-nav {
        li {
          padding: 0 $sp-xs;
          border-right: 1px solid $grey-4;

          &:last-child {
            border-right: none;
          }

          &.connect {
            border-right: none;
          }
        }
      }
    }

    .burger {
          button {
            display: inline-block;
            width: 60px;
            height: 60px;
            padding: 0;
            border: 0;
            background: none;
            -webkit-appearance: none;
            appearance: none;

            span {
              display: block;
              width: 30px;
              height: 2px;
              margin: 8px auto;
              background-color: $darkgray;

              &:nth-child(1) {
                transition: margin $bc-transition-1 .5s .5s,
                transform $bc-transition-1 .5s;
              }

              &:nth-child(2) {
                transition: margin $bc-transition-1 .5s .5s,
                transform $bc-transition-1 .5s .5s;
              }

              &:nth-child(3) {
                transition: margin $bc-transition-1 .5s .5s,
                transform $bc-transition-1 .5s;
              }
            }
          }

          @media #{$lg} {
            display: none;
          }
        }

  }

  &--opened {
    .burger {
          button {
            span {
              margin: 0 auto;

              &:nth-child(1) {
                margin: 2px auto -2px;
                transform: rotate(45deg);
                transition: margin $bc-transition-1 .5s,
                transform $bc-transition-1 .5s .5s;
              }

              &:nth-child(2) {
                transform: scaleX(0);
                transition: margin $bc-transition-1 .5s,
                transform $bc-transition-1 .25s .5s;
              }

              &:nth-child(3) {
                margin: -2px auto 2px;
                transform: rotate(-45deg);
                transition: margin $bc-transition-1 .5s,
                transform $bc-transition-1 .5s .5s;
              }
            }
          }
        }

  }
}