.icon-brush {
  .color {
    opacity: 1;
    transform: translate(0, 0px);
  }

  &.scrollreveal {
    .color, .stroke {
      opacity: 0;
    }
  }

  .stroke {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

.wrapper-brush {
  position: relative;
  z-index: 1;

  .title-brush {
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      z-index: -1;
      top: -2rem;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 1;
      @extend .transition-1-slow;
      background-repeat: no-repeat;
      transition-delay: .5s;

    }

    &.brush-white {
      &:before {
        background-image: url(../img/icon/brush-white.svg);
      }
    }

    &.brush-yellow {
      &:before {
        left: 50%;
        background-image: url(../img/icon/brush-yellow.svg);
      }
    }

    &.scrollreveal {
      &:before {
        height: 0;
        opacity: 0;
      }
    }
  }
}

.brush-before {
  position: relative;

  &:before {
    display: inline-block;
    width: 1rem;
    height: 20px;
    margin-top: -1rem;
    margin-bottom: 0;
    margin-left: -1rem;
    content: '';
    opacity: 1;
    background-image: url(../img/icon/brush-white.svg);
    background-size: cover;
    @extend .transition-1-slow;
  }

  &.brush-blue {
    &:before {
      background-image: url(../img/icon/brush-blue.svg);
    }
  }

  &.brush-red {
    &:before {
      background-image: url(../img/icon/brush-red.svg);
    }
  }

  &.brush-green {
    &:before {
      background-image: url(../img/icon/brush-green.svg);
    }
  }

  &.scrollreveal {
    &:before {
      height: 0;
      opacity: 0;
    }
  }
}

.border-brush {
  width: 50px;
  background-image: url(../img/icon/border.svg);
  background-repeat: no-repeat;
  margin: $sp-lg 0;
  @extend .transition-1-slow;
  opacity: 1;
  display: inline-block;
  height: 1rem;
  &.scrollreveal {
    width: 0;
    opacity: 0;
  }
}