.card {
  height: 100%;
  padding: $sp-md;
  border-width: 1px;
  border-style: solid;
  border-radius: $sp-xmd;

  a {
    text-decoration: none;
  }

  &--content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;

    &-cta {
      margin-top: auto;
      align-self: flex-end;
      text-align: right;
      a {
        display: block;
      }
    }
  }


  &--meta {
    display: flex;
    gap: $sp-md;
    width: 100%;
    margin: $sp-md 0 0;

    li {
      flex: 1;
      display: inline-flex;
      @extend .fz-sm;
    }

    &-level {
      &:before {
        content: '';
        width: .9rem;
        height: 1rem;
        background-image: url(../img/icon/icon-level.svg);
        background-position: center;
        background-size: contain;
        margin-right: .2rem;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }    &-time {
      &:before {
        content: '';
        width: .7rem;
        height: 1rem;
        background-image: url(../img/icon/icon-hour.svg);
        background-position: center;
        background-size: contain;
        margin-right: .2rem;
        padding-top: .2rem;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }

    &-number {
      align-self: end;
      text-align: right;
    }

  }


}