.cta {
  text-decoration: none;
  border: none;
  padding: $sp-md $sp-lg;
  border-radius: $sp-xs;
  @extend .fw-bold;
  text-transform: uppercase;
  font-family: Jost, sans-serif;
}

.cta {
  @each $value in $color-list {
    &-#{nth($value, 1)} {
      @extend .cta;
      background-color: var(--#{nth($value, 1)});

      @if nth($value, 1) == 'black' or nth($value, 1) == 'darkgray' {
        color: var(--white);
      } @else {
        color: var(--black);
      }
    }
  }
}

.cta-outline {
  @each $value in $color-list {
    &-#{nth($value, 1)} {
      @extend .cta;
      border: 1px solid var(--#{nth($value, 1)});
      color: var(--#{nth($value, 1)});
    }
  }
}