.media-rounded {
  overflow: hidden;
  width: 100%;
  border-radius: $sp-xmd;
  background-color: $black;

  img, video {
    opacity: 1;
    transform: scale(1);
    @extend .transition-1-slow;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video[poster] {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .7;
    object-fit: cover;
  }

&.media-video {
  position: relative;
    &:after {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      content: '';
      background-image: url(../img/icon/play-yellow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
    }

  }

  &.scrollreveal {
    img, video {
      opacity: 0;
      transform: scale(1.1);
    }
  }
}
